/* CSS PADRÃO ENDOGÊNSE SOLUÇÕES */

/* FONTE DO NOME ENDOGÊNESE*/
    @font-face {
    font-family: Endo;
    src: url(../fontes/Freehand.ttf);
    }
.endo_font{
font-family:Endo;

}

/*Arrendondamento das bordas das imagens na Home Page*/

.img_arred_1{

border-top-left-radius: 250px;
border-top-right-radius: 250px;
border-bottom-right-radius: 250px;
border-bottom-left-radius: 40px;
}
.img_arred_2{

border-top-left-radius: 250px;
border-top-right-radius: 250px;
border-bottom-right-radius: 40px;
border-bottom-left-radius: 250px;
}


/* Ajuste na margem de cima, para que a página fique abaixo do menu fixo*/
.endo_top{margin-top: 80px;}


/* Classes alteradas do FOTORAMA, INCLUIDO NA PÁGINA DE CASOS DE SUCESSO: verificar: nav-tabs>li.active>a:hover,  */
.fotorama__thumb{border-radius:150px!important;}
.fotorama__thumb:hover{border-radius:150px!important; width:97%; height:97%}
.fotorama__thumb-border{border-style:outset!important; border-color:#20D524!important;border-radius:150px!important;}
.fotorama__caption{font-family:Verdana, Arial, Helvetica, sans-serif!important;font-size:24px!important;}

/* Ajuste da borda, para arredondá-la mais de um lado, nas abas que tratam dos consultores, na página padrão Nossa História */
.nav-tabs>li>a{border-radius:50px 4px 0 0!important;}


/*Contorno com bordas arredondadas da DIV na página de Casos de Sucesso (Depoimentos)*/
.endo_info{
border-radius:50px;
padding:6px;
background-color:#fff;
border:1px solid #ddd;
text-align:center;
}

/*Ajuste na citação dos depoimentos, onde se drescreve o nome do autor da frase, para fazer a quebra automática*/
.label_ajuste{

white-space:normal;
}

/*Classe aplicada dentro dos links para exibilos como texto normal*/
a.limpar_link>:link,a.limpar_link:visited, a.limpar_link:hover, a.limpar_link:active{
text-decoration:none;
color:inherit;
}


/*Usada para configurar a distância entre os itens do depoimento, na página casos de sucesso!*/
.separa_item
{
padding-top:20px;
height:200px;
}

/*Usada para configurar a distância entre os itens da página de parceiros*/
.separa_parceiro{padding-top:20px;}


/*Efeito de transição na lista de VALORES na página Nossa História*/

.fade_valores:hover{
color:#fff;
background-color:#ccc;
font-weight:bolder;
-webkit-transition:background-color 1s, color 0.5s; /* For Safari 3.1 to 6.0 */
-moz-transition:background-color 1s, color 0.5s; 
transition:background-color 1s, color 0.5s;
}

/* não lembro onde essas classes funcionam.*/
.endo_titulo{

text-align:center;
margin-top:300px;
}

.endo_img_top{
position:absolute;
left:0px;
top:0px;
z-index:-1;
}

