@charset "UTF-8";
.thumbnail{
	border: none;
}
.thumbnail:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.thumbnail a:hover{
	text-decoration: none;
}
.thumbnail .caption h3{
	color: rgb(166,0,0);
	margin-top: 0;
}