body{
	color: #666666;
        background-color: #fafafa;
}
.wrapper{
    width: 960px;
    padding:50px 25px;
    background: #ffffff;
}
.row,
.content{
    width: 960px;
}

aside{
    padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    color: #000000;
    margin-top: 30px;
}

a {
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

a:hover {
  color: #e98413;
  text-decoration: none;
}

p {
  margin: 0 0 15px;
}

table{
	width: 100%;
}

table th{
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    min-height: 40px;
    padding: 5px;
}

table td{
    border: 1px solid #f0f0f0;
    text-align: left;
    min-height: 40px;
    padding: 5px;
}
blockquote {
    border-left: 5px solid #dddddd;
	color: #454545;
	font-style: italic;
}
address{
	font-style: italic;
}
address,
abbr{
	color: #2d2d2d;
}


.pagination nav{
    display:block;
}


/* custom  */
a,
div.widget ul li a:hover{
    color: #129fc8;
}
/* CONTENT */
div#comments  p.form-submit input[type="submit"],
div.widget_newsletter form button[type="submit"],
article.hentry input[type="button"],
article.hentry input[type="submit"],
article.hentry button,
div.widget_post_meta ul li span.post-tag,
div.widget a[class*="tag-link-"],
a.prev.page-numbers,
a.next.page-numbers{
    background-color: #129fc8;
}